@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Bangers&display=swap');

:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  z-index: 3;
}

.container h1 {
  font-family: 'Bangers', sans-serif;
  font-size: 2.5rem;
  line-height: 0.8;
  text-align: center;
  margin: 0;
  padding: .25rem 0;
  color: #000;
}

.container p {
  font-size: 1.2rem;
  font-style: italic;
  margin: 0;
  padding: 1rem 0;
  color: #000;
}

.generateBtn {
  color: white;
  background: rgb(0, 150, 57);
  padding: .5rem 1.8rem;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: -1rem;
  cursor: pointer;

}

#quoteWrapper {
  display: flex;
  justify-content: center;
  max-width: 600px;
  background: rgba(100, 100, 100, 0.4);
  border-radius: 25px;
  padding: 2rem;
  margin: 0 .5rem;

}

#quoteText {
  text-align: center;
  color: #000;
  opacity: 0;
  transition: opacity 2s;
}






